.dialog {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
}

body.no-scroll {
    overflow: hidden;
}

.dialog-content {
    background-color: white;

    border: 3px solid #2A52BE;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 52px;
  
}

