@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  padding: 0px;
  margin: 0px;
}

.header {
  background-image: url('/public/wood_background.jpg');
  height: 73px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}

.link {
  background: transparent;
  text-decoration: none;
}

.linkLogo {
  width: 40%;
}

.item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 5px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 18px;

}

.itemLogo {
  flex-direction: row;
  justify-content: start;
  gap: 2%;
  font-size: 20px;
}

.icon {
  height: 24px;
  width: auto;
}

.iconLogo {
  height: 34px;
  width: 34px;

}


@media screen and (max-width: 688px) {
  .item {
    font-size: 14px;
  }

  .itemLogo {
    font-size: 16px;
  }


}

@media screen and (max-width: 411px) {
  .itemLogo span {
    display: none;
  }

  .banner {
    display: none;
  }
}