/* .cardHolder {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    row-gap: 35px;
    box-sizing: border-box;
} */

.cardHolder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    margin-top: 35px;
}
.cardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .cardHolder::after {
    content: "";
    width: 260px;
    display: inline-block;
    height: 100px;
} */

.card {
    width: 260px;
    height: 300px;
    border: 3px solid #B8B2A2;
    border-radius: 15px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}



.imageHolder {
    position: relative;
    width: 100%;
    height: 60%;
}

.image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: contain;

}


.icon {
    background-color: transparent;
    border: 0px;
    position: absolute;
    right: 0px;
}


.name {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    color: black;
}

.price {
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    color: #2A3E3C;
}

.size {
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    color: #2A3E3C;
}




.adminButtonHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    max-width: 260px;

}

.adminButton {
    background-color: #2A3E3C;
    width: 100%;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    height: 35px;
    text-align: center;
}

/* @media (max-width: 1250px) {
    .cardHolder {
        column-gap: clamp(15px, 15px, 30px);
    }

}

@media (max-width: 900px) {
    .cardHolder {
        justify-content: center;
        column-gap: clamp(50px, 100px, 100px);
    }
} */

@media (max-width: 600px) {
    .cardHolder {
        /* На мобилках можно сделать карточки на всю ширину или оставить по центру */
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        justify-content: center;
    }
}