.card-holder {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 7%;
    margin-right: 7%;
    justify-content: start;
    gap: 10%;
    row-gap: 45px;
}

.category-card {
    width: 380px;
    height: 280px;
    position: relative;
}

.category-name {
    width: 60%;
    height: 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 15px;
    position: absolute;
    bottom: 0px;
    /* left: -20px; */
    background-color: #2A52BE;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 10%;
}

.category-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 3px solid #2A52BE;

}

.admin-button-holder{
    display: flex;
    justify-content: space-between;
    /* width:260px; */
    width:100%;
    margin-top: 20px;

}

.admin-item-button{
    background-color: #2A52BE;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    height: 35px;
    border: 0px;
    width:48%;
}