.form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #2A52BE;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 20px;
gap: 25px;
width: 100%;
}
.form-image{
    background-color:rgba(160,220,255,0.3);
    background-repeat: no-repeat;
    border: 2px solid rgba(160,220,255);
    border-radius: 15px;
    width:100%;
    min-height: 214px;
    background-size: contain;
    background-position: center;
}

.form-field{
    background-color:rgba(160,220,255,0.3);
    border: 2px solid rgba(160,220,255);
    border-radius: 10px;
    width:100%;
    min-height: 30px;
    
}

.form-field::placeholder{
    color: #2A52BE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 5%;
    padding-top: 7px;
   
}

.button-holder{
    display: flex;
    flex-direction: row;
     gap:35px;
     width:100%;
}

.form-button{
    width: 133px;
    height: 35px;
    background-color: #2A52BE;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    border: 0px;
   
}

.form-checkbox{
    font-size: 16px;
    font-weight: normal;
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* margin-top: -10px;
    margin-bottom: -10px; */
}