* {
  padding: 0;
  margin: 0;
}

.header {
  background: #d7f0ff;
  background: linear-gradient(90deg,
      rgba(215, 240, 255, 1) 0%,
      rgba(140, 199, 255, 1) 100%);
  height: 73px;
  width: 100%;
}

.header-menu {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style-type: none;
}

.menu-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;


}

.menu-item--logo {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5%;
  font-size: 20px;
}

.menu-link {
  background: transparent;
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

}

.menu-link--logo {
  background: transparent;
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  width: 40%;

}

.menu-icon--logo {
  height: 34px;
  width: 34px;

}

.menu-icon {
  height: 24px;
  width: auto;
}

