.banner {
    width: 80%;
    height: 200px;
    background-image: url("/public/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10%;
    padding-top: 120px;
    margin-top: 50px;

}

.banner p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-left: 10%;

}

.title {
    color: #2A52BE;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 7%;
    margin-top: 60px;
}

