.card-holder{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 7%;
    margin-right: 7%;
    justify-content: start;
    gap: 10%;
    row-gap: 45px;
}

.item-card {
    width: 260px;
    height: 300px;
    border: 3px solid #A0DCFF;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  

}

.item-image {
    width: 100%;
    height: 100%;

}

.item-image-holder {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}

.heart-icon {
    background-color: transparent;
    border: 0px;
    align-self: flex-start;
}

.item-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}



.item-price{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #2A52BE;
}

.item-card {
    width: 260px;
    height: 300px;
    border: 3px solid #A0DCFF;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  

}

.item-image {
    width: 100%;
    height: 100%;

}

.item-image-holder {
    display: flex; 
    justify-content: flex-end;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    height: 60%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.heart-icon {
    background-color: transparent;
    border: 0px;
  

}

.item-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    margin-top: 50px;
}

