.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Вся высота окна браузера */
}

.main-content {
  flex: 1 0 auto; /* Контент занимает всё свободное место */
  width: 100%;
}